.activeBg {
  border-color: #2b3467;
}

.modalWindow {
  background-color: #fff;
  align-items: center;
  position: absolute;
  z-index: 9;
  height: fit-content;
  width: 200px;
  top: 40px;
  right: 0px;
  border-radius: 4px;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  -webkit-box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  -moz-box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  padding: 10px;
  border: 1px solid #2B3467;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.backdrop {
  cursor: pointer;
  position: fixed;
  height: 40px;
  width: 40px;
  z-index: 10;
}

.headerBtn {
  cursor: pointer;
  margin-left: 15px;
}

.headerBtn svg {
  width: 20px;
}

.headerBtn svg path {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}

/* .headerBtn svg:hover path,.headerBtn.activeBg svg path {
  fill: #BAD7E9;
} */
.modalWindowBtn svg path {
  fill: #2B3467 !important;
}

.modalWindowBtn svg {
  height: 14px !important;
}

.modalWindowBtn {
  display: flex;
  width: 100%;
  height: 34px;
  padding: 0px 15px;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}

.modalWindowBtn:hover {
  background: #BAD7E9;
  border-color: #2B3467;
}

.closeBtn {
  width: 22px;
  height: 22px;
  cursor: pointer;
  margin-left: 4px;
}

.search {
  cursor: pointer;
}

/* popup element */

.popup {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  width: 95%;
}

.hideSearch {
  overflow: hidden;
  transition: 0.5s ease;
}

.showSearch {
  max-width: 100%;
  max-height: 100%;
  transition: max-width 0.5s ease;
}

.warningMessage {
  color: #eb445f;
  font-size: 16px;
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  background: #bbd7e9;
  z-index: 9;
  position: relative;
}

.warningMessage_close {
  cursor: pointer;
  text-decoration: underline;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  color: #2B3467;
  font-size: 14px;

}

.warningInner {
  display: flex;
  gap: 16px;
  justify-content: center;
  
}

.warningMessage_close:hover {
  color: #eb445f;
}

.logo {
  height: 35px;
}

.modal_dashboard {
  background-color: #eb445f;
  /* background: #BAD7E9; */
  border-color: #2B3467;
  padding: 5px 15px;
  border-radius: 4px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.modal_dashboard .dashboard_item {
  display: flex;
  align-items: center;
  gap: 6px;
  padding-top: 6px;
}

.dashboard_tootlip_outer {
  position: relative;
}

.dashboard_tootlip_outer svg path {
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
}

.dashboard_tootlip {
  visibility: hidden;
  width: 250px;
  background-color: #333;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 135%;
  left: 150%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.6s cubic-bezier(0.79, 0.01, 0.15, 0.99);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wTitle {
  color: #fff!important;
}

.dashboard_tootlip_outer:hover .dashboard_tootlip {
  visibility: visible;
  opacity: 1;
}

/* end of popup element */

@media (max-width: 768px) {
  .backdrop {
    width: 30px;
    height: 30px;
  }

  .modalWindow {
    top: 50px;
    right: 15px;
  }
}

@media (max-width: 991px) {
  .backdrop {
    width: 30px;
    height: 30px;
  }

  .hideSearch {
    max-width: 0;
    max-height: 0;
  }

  .showSearch {
    max-width: 100%;
  }

  .modalWindow {
    top: 50px;
    right: 15px;
  }
}

@media (max-width: 470px) {
  .searchWrapper {
    max-width: 130px;
    max-height: 130px;
  }
}