.swiper {
    position: relative;
    width: 100%;
    max-width: 950px;
    height: auto;
    padding-top: 100%;
}
.swiper img {
    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}